.Setup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.setup {
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
  width: 90vw;
}
.game-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game-board {
  border: red solid thin;
  height: 500px;
  width: 500px;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(10,auto);
}
.game-board div {
  border: red solid thin;
  background-color: white;
}
.game-board div:hover {
  background: hsla(20, 100%, 50%, .5);
}
.boat-selection {
  border: red solid thin;
  height: 500px;
  width: 500px;
  z-index: 1;
}
.placeships-cell {
  font-size: 75px;
  text-align: center;
  z-index: 1;
}
.options-cell {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
}
.options-cell div:hover {
  cursor: pointer;
}
.boat-1-setup {
  position: absolute;
}
.boat-2-setup {
  position: absolute;
  top: 0;
  right: 20px;
}
.boat-2-setup img {
  height: 250px;
  width: 250px;
}